* {
  background-color: white;
}

/* Text Formatting */

ul {
  list-style-type: none;
}

.navbar {
  width: 980px;
  margin: 0 auto;
}

.navbar-wrapper {
  display: flex;
}

.navbar-wrapper li {
  flex: 1;
  background-color: blueviolet;
}

.search-bar {
  flex-basis: 400px;
}

/* Main Section */

.main-section {
  max-width: 1440px;
  height: 538px;
  margin: 0 auto;
  background-image: url("../images/apple-background.jpg");
  background-position: center bottom;
}

/* Picture Links */

.picture-links-wrapper {
  display: flex;
  max-width: 1440px;
  margin: 1px auto;
}

.picture-anchors {
  display: inline-block;
  flex: 1;
  height: 200px;
  width: auto;
  background-position: center;
  min-width: 256px;


}

.picture {
  height: 100%;
}

.picture-1 {
  background-image: url("../images/apple-iphone5.jpg");
}

.picture-2 {
  background-image: url("../images/apple-iphone5c.jpg");
}

.picture-3 {
  background-image: url("../images/apple-mac30.jpg");
}

.picture-4 {
  background-image: url("../images/apple-supplier.jpg");
}