* {
  color: #fff;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: .95em;
}

/* Text Formatting */

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar {
  position: absolute;
  top: 82px;
  width: 100%;
  padding: 0 20px;
}

.navbar-wrapper {
  border: 1px solid#444;
  border-right: none;
  border-radius: 4px;
  display: flex;
  width: 980px;
  height: 36px;
  margin: 0 auto;
  box-shadow: 0 1px 2px 0px #0004;
}

.navbar-wrapper li {
  border-right: 1px solid#444;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-shadow: 0 0 2px #000;
}

.logo-li {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.logo-li img {
  width: auto;
  height: 30px;
}

.gradient {
  background: #777777;
  background: -moz-linear-gradient(top, #777777 0%, #666666 15%, #666666 50%, #555555 50%, #666666 85%, #777777 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #777777), color-stop(15%, #666666), color-stop(50%, #666666), color-stop(50%, #555555), color-stop(85%, #666666), color-stop(100%, #777777));
  background: -webkit-linear-gradient(top, #777777 0%, #666666 15%, #666666 50%, #555555 50%, #666666 85%, #777777 100%);
  background: -o-linear-gradient(top, #777777 0%, #666666 15%, #666666 50%, #555555 50%, #666666 85%, #777777 100%);
  background: -ms-linear-gradient(top, #777777 0%, #666666 15%, #666666 50%, #555555 50%, #666666 85%, #777777 100%);
  background: linear-gradient(to bottom, #777777 0%, #666666 15%, #666666 50%, #555555 50%, #666666 85%, #777777 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#777777', endColorstr='#777777', GradientType=0);
}

.hover:hover {
  background: #666666;
  background: -moz-linear-gradient(top, #666666 0%, #555555 15%, #555555 50%, #444444 50%, #555555 85%, #666666 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #666666), color-stop(15%, #555555), color-stop(50%, #555555), color-stop(50%, #444444), color-stop(85%, #555555), color-stop(100%, #666666));
  background: -webkit-linear-gradient(top, #666666 0%, #555555 15%, #555555 50%, #444444 50%, #555555 85%, #666666 100%);
  background: -o-linear-gradient(top, #666666 0%, #555555 15%, #555555 50%, #444444 50%, #555555 85%, #666666 100%);
  background: -ms-linear-gradient(top, #666666 0%, #555555 15%, #555555 50%, #444444 50%, #555555 85%, #666666 100%);
  background: linear-gradient(to bottom, #666666 0%, #555555 15%, #555555 50%, #444444 50%, #555555 85%, #666666 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#666666', GradientType=0);
  cursor: pointer;
}

.search-bar {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 60px;
}

.search-input {
  background-color: transparent;
  border: 1px solid #444;
  border-radius: 10px;
  height: 22px;
  width: 106px;
  padding-left: 6px;
}

.search-input[type="search"]::placeholder {
  font-family: "FontAwesome", sans-serif;
  font-size: 12px;
}

.search-bar:hover {
  cursor: unset;
}

/* Main Section */

.main-section {
  max-width: 1440px;
  /*! min-height: 538px; */
  /*! max-height: 1315px; */
  margin: 0 auto;
  padding-top: 140px;
  background-image: url("../images/apple-background.jpg");
  background-position: center bottom;
  text-align: center;
  color: #fff;
  min-width: 1025px;
  height: 659px;
}

.main-text-wrapper {
  background-color: transparent;
  width: 780px;
  margin: 0 auto;
}

.main-heading {
  background-color: transparent;
  font-size: 4.6em;
  font-weight: lighter;
  margin: 25px 0;
}

.main-paragraph {
  background-color: transparent;
  font-size: 2.4em;
  margin: 10px 0;
}

.main-link {
  background-color: transparent;
  font-size: 2em;
}

.main-link:hover {
  text-decoration: underline;
}

.main-link i {
  font-size: 1.2em;
}

/* Picture Links */

.picture-links-wrapper {
  display: grid;
  max-width: 1440px;
  margin: 2px auto;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2px;
}

.pictures {
  display: inline-block;
  flex: 1;
  height: 200px;
  width: auto;
  background-position: center;
  min-width: 256px;
}

.picture-1 {
  background-image: url("../images/apple-iphone5.jpg");
}

.picture-2 {
  background-image: url("../images/apple-iphone5c.jpg");
}

.picture-3 {
  background-image: url("../images/apple-mac30.jpg");
}

.picture-4 {
  background-image: url("../images/apple-supplier.jpg");
}

/* Footer */

.f-wrapper {
  width: 980px;
  margin: 0 auto 20px;
  font-size: .8em;
  letter-spacing: .04em;
  font-weight: bold;
}

.f-wrapper p {
  color: #444;
  display: inline-block;
  margin: 20px 0 0;
}

.f-wrapper nav {
  display: block;
  float: right;
  margin-top: 20px;
}

.f-wrapper a {
  color: #0088cc;
}

.f-wrapper a:hover {
  text-decoration: underline;
}

.f-nav-wrapper {
  display: flex;
}